*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(215, 159, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    max-width: 1860px;
    margin: 0 auto;
}
.menu_block{
    background-color: indigo;
}

/* style for Nav */

nav{
    margin: 0 auto;
    max-width: 1860px;
    display: flex;
    justify-content: space-between;
    background-color: indigo;
    padding: 10px 10px;
}

.logo{
    color: rgb(192, 109, 252);
    font-weight: 800;
    font-size: 42px;
    padding: 0 0 5px;
}
.s{
    color: orange;
}

/* ------------------------------------- */
.nav_links{
    display: flex;
    justify-content: center;
    background-color: indigo;
}
li{
    list-style-type: none;
    padding: 10px 0;

}
li a{
    color: orange;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 5px;
    font-size: 22px;
    border: 3px solid rgba(255, 255, 255, 0);
}
li a:hover{
    border-bottom: 3px solid orange;
    transition: 0.3s;
}

/* ------------------------------------- */

.burger{
    width: 40px;
    cursor: pointer;
    display: none;
}
.lines{
    background-color: #fff;
    height: 5px;
    margin: 5px;
    width: 40px;
    transition: .3s;
}
/* --------------------------------------- */

.toggle .line1{
    transform: rotate(45deg) translate(4px, 10px);
    transition:  0.3s;
}
.toggle .line2{
    opacity: 0;
    transition:  0.3s;
}
.toggle .line3{
    transform: rotate(-45deg) translate(4px, -10px);
    transition:  0.3s;
}

/* Style for Content */


.content{
    padding: 20px;
}
.title_block{
    padding: 10px;
    font-size: 42px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.s1{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.studio{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
p.st{
    font-size: 62px;
    text-align: center;
    flex: 60%;
    margin: 0 0 0 10px;
}
p.p1{
    flex: 40%;
    margin: 0 0 0 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
}
.dual_block1{
    display: flex;
}
.left_block{
    margin: 0 10px 0 0;
    flex: 60%;
    display: flex;
}
.p2{
    max-width: 450px;
}
.right_block{
    margin: 0 0 0 10px;
    flex: 40%;
}
p.p3
{
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

/* Style for prices */

.prices{
    background-color: yellow;
    padding: 20px 40px;
}
.price_block{
    margin: 10px 0 30px ;
}
h2.price{
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0;
}
.price_info{
    font-size: 22px;
}
.labels{
    display: flex;
}
.label1, .label2, .label3{
    flex: 33.33333%;
    padding: 15px;
}
select{
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 5px;
}


/* Style for about */
.about{
    background-color: rgb(58, 58, 58);
}
.item1{
    display: flex;
    justify-content: space-between;
}
.item2{
    display: flex;
}
.item_content1, .item_content2, .item_content3,
.item_content4, .item_content5{
    margin: 15px;
}
.item_content2{
    color: orange;
}
.about_text{
    text-align: center;
    font-size: 62px;
    padding: 0 0 40px 0;
}
.about_info{
    font-size: 22px;
    color: #fff;
}
/* Style h-block */

.h{
    display: flex;
    padding: 40px 0;
}
.h_left_block{
    flex: 45%;
    margin: 0 30px 0 0;
}
.h_right_block{
    flex: 55%;
    margin: 0 0 0 30px;
}
.arch, .design, .project{
    padding: 10px 0;
    margin: 30px 0;
    box-shadow: rgb(44, 44, 9) 5px 5px 10px;
}

.arch{
background-color: yellow;
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}
p.p6{
    font-size: 36px;
}
.p7_x{
    margin: 15px;
}
.arch_img{
    width: 40px;
    height: 20px;
}
.arch_img img{
    width: 100%;
}
.tb{
    font-size: 62px;
    padding: 8px 0;
    margin: 0 0 20px 0;
}
.p8{
    font-size: 28px;
    margin: 40px 0;
    font-weight: bold;
}
.p9{
    font-size: 22px;
    padding: 30px 0;
    margin: 30px 0;
}

/* text_block */

.text_block{
    margin: 30px 0;
    padding: 30px 0;
}
p.p_text1{
    font-size: 40px;
}

/* Contact block */

.contacts_block{
    display: flex;
}
h2.contact{
    font-size: 62px;
    margin: 30px 0;
}
h3{
    font-size: 42px;
    min-height: 50px;
}
.contact_info{
    flex: 33.3333%;
    margin: 0 15px;
}

.info_text, address, .working_day, .fn{
    padding: 15px 0;
}

/* Style for footer */
footer{
    background-color: rgb(54, 54, 54);
}
.cont{
    max-width: 1860px;
    margin: 0 auto;
    padding: 40px;
}
.cont_item1 .fn .tel{
    color: #fff;
}
.cont_item1 .fn .tel a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}
hr{
    background-color: orange;
    border: none;
    height: 2px;
}
.cont_item2{
    margin: 30px 0;
    color: orange;
    display: flex;
    justify-content: space-between;
}
.social_links{
    width: 60px;
    display: flex;
}
.icons{
    margin: 0 5px;
}


/* Reserve Style */
img{
    width: 100%;
}